      <div class="series column-flex-box">
        <a rel="nofollow" href="{% url 'pin-detail' slug='askformovie' %}" class="instapage row-flex-box" target="_blank">
          <div><span>درخواست فیلم وسریال</span> </div>
          <div> <i class="fa-solid fa-video"></i></div>



          </a>
      </div>
      <div class="socialmedia column-flex-box">
        <a rel="nofollow" href="https://www.instagram.com/allofusaredead2022" class="instapage row-flex-box" target="_blank">
          <div><span>ما را در اینستاگرام دنبال کنید</span> </div>
          <div> <i class="fa-brands fa-instagram"></i></div>

          </a>
      </div>