<div class="gnrtitle row-flex-box">
  <div class="gnricon"><i class="fa-solid fa-chalkboard-user"></i><span>ژانر ها</span></div>
  <div class="gnr-options row-flex-box">
    <a href="javascript: void(0);" class="btn-movies gnr-active" data-genre-type="genre-movies" role="button">فیلم</a>
    <a href="javascript: void(0);" class="btn-series" data-genre-type="genre-series" role="button">سریال</a></div>

</div>
<ul class="gnr-content row-flex-box" id="genre-movies">
  <li><a href="#" class="row-flex-box">اکشن<span class="count">4</span></a></li>
  <li><a href="#" class="row-flex-box">تاریخی<span class="count">2</span></a></li>
  <li><a href="#" class="row-flex-box">ترسناک<span class="count">9</span></a></li>
  <li><a href="#" class="row-flex-box">خانوادگی<span class="count">5</span></a></li>
  <li><a href="#" class="row-flex-box">درام<span class="count">1</span></a></li>
  <li><a href="#" class="row-flex-box">عاشقانه<span class="count">7</span></a></li>
  <li><a href="#" class="row-flex-box">فانتزی<span class="count">1</span></a></li>
  <li><a href="#" class="row-flex-box">کمدی<span class="count">14</span></a></li>
  <li><a href="#" class="row-flex-box">معمایی<span class="count">6</span></a></li>
  <li><a href="#" class="row-flex-box">موزیکال<span class="count">8</span></a></li>
  <li><a href="#" class="row-flex-box">هیجان انگیز<span class="count">4</span></a></li>
</ul>
<ul class="gnr-content" id="genre-movies" id="genre-series" style="display: none;">
  <li><a href="#" class="row-flex-box">اکشن<span class="count">4</span></a></li>
    <li><a href="#" class="row-flex-box">تاریخی<span class="count">2</span></a></li>
    <li><a href="#" class="row-flex-box">ترسناک<span class="count">9</span></a></li>
    <li><a href="#" class="row-flex-box">خانوادگی<span class="count">5</span></a></li>
    <li><a href="#" class="row-flex-box">درام<span class="count">1</span></a></li>
    <li><a href="#" class="row-flex-box">عاشقانه<span class="count">7</span></a></li>
    <li><a href="#" class="row-flex-box">فانتزی<span class="count">1</span></a></li>
    <li><a href="#" class="row-flex-box">کمدی<span class="count">14</span></a></li>
    <li><a href="#" class="row-flex-box">معمایی<span class="count">6</span></a></li>
    <li><a href="#" class="row-flex-box">موزیکال<span class="count">8</span></a></li>
    <li><a href="#" class="row-flex-box">هیجان انگیز<span class="count">4</span></a></li>
</ul>